@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  /** Light Mode */

  &,
  &.light {
    --background-primary: #ffffff;
    --background-secondary: #f0f0f0;
    --background-tertiary: #e0e0e0;
    --background-disabled: #f5f5f5;
    --text-primary: #000000;
    --text-secondary: #333333;
    --text-tertiary: #666666;
    --text-disabled: #bbbbbb;
    --text-placeholder: #e1e1e0;
    --border: rgba(0, 0, 0, 0.1);
    --primary: #ffae5c;
    --primary-hover: #cc8a3e;
  }

  /** Dark Mode */

  &.dark {
    --background-primary: #0d0d0d;
    --background-secondary: #191919;
    --background-tertiary: #212121;
    --background-disabled: #141111;
    --text-primary: #fff;
    --text-secondary: #cacaca;
    --text-tertiary: #b3b3b3;
    --text-disabled: #444444;
    --text-placeholder: #373737;
    --border: rgba(255, 255, 255, 0.1);
    --primary: #b5753e;
    --primary-hover: #8a4e2c;
  }

  --secondary:#1d4ed8;
  --secondary-hover:#163fae;

  color-scheme: light dark;
}

* {
  @apply box-border list-none;
}

body {
  font-family: "Lexend Deca", sans-serif;
  @apply h-[100dvh] bg-background-primary !important;
}

#root {
  @apply flex h-full bg-background-primary p-2;
}

html.theme-transition {
  * {
    @apply transition-colors duration-200 !important;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  @apply h-[2px] w-[3px];
}

::-webkit-scrollbar-thumb {
  @apply bg-text-tertiary;
}

::-webkit-scrollbar-track {
  @apply bg-border;
}

.no_scrollbar::-webkit-scrollbar {
  display: none;
}